[Unit]
Description=Animated Wallpaper

[Service]
Environment=DISPLAY=:%i
ExecStart=video-bg %h/.dot/l/wallpapers/default/animated

[Install]
WantedBy=default.target
