[Unit]
Description=Sound input/output selector applet

[Service]
Environment=DISPLAY=:%i
#Environment=PYTHONPATH="/usr/lib/python3.7/site-packages"
ExecStart=indicator-sound-switcher

[Install]
WantedBy=default.target
