[Unit]
Description=Removable disk automounter with tray icon

[Service]
Environment=DISPLAY=:%i
ExecStart=udiskie -s -A

[Install]
WantedBy=default.target
