[Unit]
Description=Wallpaper

[Service]
Type=oneshot
ExecStart=feh --bg-fill --no-fehbg --force-aliasing %h/.config/wallpapers/default/fehbg.png

[Install]
WantedBy=default.target
