[Unit]
Description=run wpg when one of its templates is edited

[Service]
Type=oneshot
Environment=DISPLAY=:%i
ExecStart=/usr/local/bin/a wpgsetfast material
ExecStart=/usr/local/bin/a dfgfixsym

